@font-face {
    font-family: "RobotoRegular";
    src: local("RobotoRegular"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoBold";
    src: local("RobotoBold"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoItalic";
    src: local("RobotoItalic"),
    url("../fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoCondensedRegular";
    src: local("RobotoCondensedRegular"),
    url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoCondensedBold";
    src: local("RobotoCondensedBold"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoCondensedItalic";
    src: local("RobotoCondensedItalic"),
    url("../fonts/RobotoCondensed-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoSansRegular";
    src: local("NunitoSansRegular"),
    url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoSansBold";
    src: local("NunitoSansBold"),
    url("../fonts/NunitoSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "NunitoSansItalic";
    src: local("NunitoSansItalic"),
    url("../fonts/NunitoSans-Italic.ttf") format("truetype");
}

:root {
    --white: #FFFFFF;
    --lightGray: #dfdfdf;
    --gray: #808080FF;
    --lightBlue: #2996BFFF;
    --mediumBlue: #1E6F8EFF;
    --black: #000000;
}

html {
    height: calc(100%);
}

body {
    font-family: "RobotoRegular" !important;
    height: calc(100% - 112px);
}

#root {
    height: 100%;
    margin-top: 56px;
    overflow: hidden
}

.incognito-nav-color {
    background-color: #202635;
}

.incognito-app-header {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: solid;
    border-bottom-color: var(--gray);
    border-bottom-width: 2px;
}

.incognito-app-entity-header {
    margin-top: 40px;
    margin-bottom: 5px;
}

.incognito-app-entity-header-right {
    display: flex;
    align-items: center;
}

.incognito-app-entity-header-right-refresh {
    color: black;
    margin-left: 80px;
}

.incognito-app-entity-header-right-actions {
    color: black;
    margin-left: 20px;
}

.incognito-action-dropdown-toggle {
    color: var(--black);
}

.incognito-title-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.incognito-search-box {
    max-width: 400px;
    margin-bottom: 0 !important;
}

.incognito-search-button {
    width: 60px;
    color: var(--white);
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
}

.incognito-search-button:hover {
    width: 60px;
    color: var(--white);
    background-color: var(--mediumBlue);
    border-color: var(--mediumBlue);
}

.incognito-accordion-heading-sub {
    display: flex;
    align-items: center;
}

.incognito-accordion-heading-text {
    height: 24px;
    letter-spacing: 0;
    color: var(--black);
    text-align: left;
    font: normal normal normal 20px/24px Roboto Condensed;
    font-family: 'RobotoCondensedRegular', serif;
    opacity: 1;
}

.incognito-accordion {
    margin-bottom: 10px;
}

.incognito-accordion-body {
    padding-left: 40px;
}

.incognito-disabled {
    opacity: 0.5;
}

.incognito-accordion-card {
    background: var(--white) 0 0% no-repeat padding-box;
    box-shadow: 0 1px 3px #00000066;
    border-radius: 10px;
    opacity: 1;
}

.incognito-accordion-card-header {
    background: var(--white) 0 0% no-repeat padding-box;
    border-radius: 10px 10px 0 0 !important;
}

.incognito-accordion-card-header-collapsed {
    background: var(--white) 0 0% no-repeat padding-box;
    border-radius: 10px !important;
}

.incognito-app-hub-header {
    margin: 15px calc(var(--bs-gutter-x) * -.5);
    --bs-gutter-x: 1rem;
    display: flex;
    justify-content: space-between;
}

.incognito-app-title-left {
    width: 50%;
}

.incognito-app-title-right {
    margin-right: 15px;
    width: 10%;
    background-image: url("../img/app/bc-hydro.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.incognito-login-app-header {
    height: 100px;
}

.incognito-app-logo-header {
    height: 50px;
    position: relative;
}

.incognito-app-logo {
    height: 40px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/app/iot-icon.jpg");
    background-color: #1999ce;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
}

.incognito-app-name {
    font-family: "NunitoSansRegular";
    font-size: 30px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 3px;
    left: 50px;
}

.incognito-app-filters {
    font-family: "NunitoSansRegular";
    font-size: 30px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 3px;
    left: 0px;
}

.incognito-app-title {
    color: rgb(87, 169, 212);
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
    line-height: 50px;
}

.incognito-entity-title {
    color: #6FAFCC;
    font: normal normal normal 40px/22px Nunito Sans;
    letter-spacing: -1px;
    font-family: 'NunitoSansRegular', serif;
    display: inline-block;
    line-height: 50px;
}

.incognito-entity-module-title {
    color: var(--black);
    font: normal normal normal 20px/24px Roboto Condensed;
    font-family: 'RobotoCondensedRegular', serif;
    opacity: 1;
    letter-spacing: 0;
    line-height: 0;
    margin-bottom: 0;
}

.incognito-modal-sub-title {
    top: 228px;
    left: 543px;
    text-align: left;
    font: normal normal normal 20px/24px RobotoCondensedRegular serif;
    font-family: 'RobotoCondensedRegular', serif;
    letter-spacing: 0;
    color: #000000;
    margin-bottom: 8px;
    opacity: 1;
}

.incognito-modal-title {
    top: 249px;
    left: 540px;
    text-align: left;
    font: normal normal normal 40px/54px NunitoSansRegular serif;
    font-family: 'NunitoSansRegular', serif;
    line-height: 20px;
    letter-spacing: 0;
    color: #57A9D4;
    opacity: 1;
}

.incognito-modal-footer {
    display: flex;
    justify-content: space-between;
    border-top: none;
    width: 100%;
}

@media only screen and (min-device-width: 1025px) {
    .incognito-login-container {
        padding: 10px 30px 30px 30px;
        width: 23vw;
        background-color: var(--white);
        border-radius: 5px;
        border-style: solid;
        border-color: var(--lightGray);
        margin: auto;
    }
}

@media only screen
and (min-device-width: 501px)
and (max-device-width: 1024px) {
    .incognito-login-container {
        padding: 30px;
        width: 40vw;
        background-color: var(--white);
        border-radius: 5px;
        border-style: solid;
        border-color: var(--lightGray);
        margin: auto;
    }
}

@media only screen
and (min-device-width: 300px)
and (max-device-width: 500px) {
    .incognito-login-container {
        padding: 30px;
        width: 93vw;
        background-color: var(--white);
        border-radius: 5px;
        border-style: solid;
        border-color: var(--lightGray);
        margin: auto;
    }
}

.incognito-form-title {
    font-family: "RobotoCondensedRegular";
    font-size: 22px;
    font-weight: 400;
    height: 40px;
}

.incognito-form-label {
    opacity: .5;
    color: #333;
    font-size: 14px;
    font-family: "RobotoRegular", serif;
    font-weight: 600;
    overflow-wrap: break-word;
}

.incognito-form-text {
    opacity: 1;
    color: var(--black);
    font-size: 14px;
    font-family: "RobotoRegular", serif;
}

.incognito-alert-list {
    border: none;
}

.incognito-alert-list-item {
    border: none;
    padding: 0;
    color: var(--gray);
}

.incognito-alert-list-item::before {
    content: "\25CF";
    font-size: 1em;
    padding-right: 5px;
}

.incognito-alert-list-item-red::before {
    color: red;
}
.incognito-alert-list-item-blue::before {
    color: var(--mediumBlue);
}
.incognito-alert-list-item-orange::before {
    color: orange;
}
.incognito-alert-list-item-green::before {
    color: green;
}

.incognito-btn {
    margin-top: 20px;
}

.incognito-route-container {
    height: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.incognito-page-container {
    overflow-y: scroll;
    overflow-x: hidden;
}

.incognito-login-page-container {
    height: calc(100% - 100px);
    overflow: hidden;
    background-image: url("../img/app/city-view.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30px;
}

.incognito-login-app-logo {
    height: 80px;
    background-image: url("../img/app/shaw-logo.png");
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: center;
}

.incognito-login-heading {
    font-family: "RobotoCondensedRegular";
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: solid var(--lightGray) 1px;
    text-align: center;
}

.incognito-page-container.gray {
    background-color: rgb(240, 240, 240);
}

.incognito-page-container.top-spacing {
    padding-top: 25px;
}

.incognito-btn, .incognito-btn:hover, .incognito-btn:focus {
    background-color: rgb(87, 169, 212);
    border-color: rgb(87, 169, 212);
}

.incognito-btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(187 220 237 / 50%);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgb(87, 169, 212);
}

.form-control:focus {
    border-color: rgb(87, 169, 212);
    box-shadow: 0 0 0 0.25rem rgb(187 220 237 / 50%);
}

.incognito-btn .spinner-border.spinner-border-sm {
    margin-right: 10px;
}

.toast {
    position: absolute;
    top: 0px;
    left: calc(50% - 172px);
}

.incognito-hub-panel {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    box-shadow: rgb(0 0 0 / 30%) 0 1px 3px 0, rgb(0 0 0 / 34%) 0 1px 1px 0, rgb(0 0 0 / 32%) 0 2px 1px -1px;
    border-radius: 8px;
    height: 220px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.incognito-hub-panel:hover, .incognito-hub-badge:hover {
    transform: scale(1.025);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.incognito-hub-header {
    padding: 10px 10px 0px 10px;
    line-height: 20px;
    flex: 1;
}

.incognito-hub-title {
    font-family: "NunitoSansBold";
    font-size: 19px;
    font-weight: 700;
}

.incognito-hub-body {
    font-family: "RobotoRegular";
    font-size: 15px;
    padding: 10px 10px 0px 10px;
    height: 120px;
}

.incognito-hub-body-text {
    height: 82px;
    --max-lines: 3;
    max-height: calc(var(--lh) * var(--max-lines));
    position: relative;
    color: var(--gray);
}

.incognito-hub-body-text-clamp::before {
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.incognito-hub-footer {
    height: 60px;
    padding: 10px;
    line-height: 20px;
    font-family: "NunitoSansRegular";
    font-size: 18px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
}

.incognito-hub-footer-purple {
    color: rgb(90, 92, 142);
    width: 90%;
    align-self: flex-end;
    flex: 1;
}

.incognito-hub-footer-blue {
    color: rgb(41, 150, 191);
    width: 90%;
    align-self: flex-end;
    flex: 1;
}

.incognito-hub-footer-green {
    color: rgb(50, 132, 111);
    width: 90%;
    align-self: flex-end;
    flex: 1;
}

.incognito-hub-footer-black {
    color: rgb(0, 0, 0);
    width: 90%;
    align-self: flex-end;
    flex: 1;
}

.incognito-hub-panel-img-devices {
    background-image: url("../img/hub/devices.svg");
    height: 40px;
    width: 40px;
    background-position: center center;
    background-size: contain;
}

.incognito-hub-panel-img-subscribers {
    background-image: url("../img/hub/subscribers.svg");
    height: 40px;
    width: 40px;
    background-position: center center;
    background-size: contain;
}

.incognito-hub-panel-img-firmware {
    background-image: url("../img/hub/firmware.svg");
    height: 40px;
    width: 40px;
    background-position: center center;
    background-size: contain;
}

.incognito-hub-panel-img-alerts {
    background-image: url("../img/hub/alerts_icon.svg");
    height: 40px;
    width: 100%;
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}

.incognito-hub-search {
    height: 100%;
}

.incognito-hub-search-form {
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 10px;
}

.incognito-hub-list {
    width: 100%;
    height: 100%;
    float: left;
    padding-right: 10px;
}

.incognito-hub-firmware {
    width: 33%;
    height: 100%;
    float: left;
    padding-right: 10px;
}

.incognito-hub-search-recent {
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 10px;
}

.incognito-hub-badge {
    margin: 5px 10px 5px 0px;
    font-weight: normal;
    font-size: 12px;
}

.incognito-hub-badge-blue {
    background-color: var(--lightBlue);
}

.incognito-hub-badge-green {
    background-color: green;
}

.incognito-hub-badge-1 {
    opacity: 1.0 !important;
}

.incognito-hub-badge-2 {
    opacity: 0.8 !important;
}

.incognito-hub-badge-3 {
    opacity: 0.6 !important;
}

.incognito-hub-badge-4 {
    opacity: 0.4 !important;
}

a .incognito-hub-title {
    color: #000;
}

.incognito-spinner-container {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.incognito-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
}

.incognito-table {
    margin-bottom: 0;
    color: #000000;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    position: relative;
}

.incognito-table th, .incognito-table td {
    border: none !important;
}

.incognito-table tbody tr {
    height: 28px;
}

.incognito-table tbody tr.selected {
    transition-duration: 0.2s;
    transition-property: background-color;
    background-color: black;
    color: white;
}

.incognito-table tbody td {
    padding: 2px 15px 2px 10px !important;
    box-shadow: inset -1px 0 0 #ffffff;
}

.incognito-table th:nth-child(odd), .incognito-table tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.02);
}

.incognito-table tr td:nth-child(odd), .incognito-table tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.02);
}

.incognito-table tbody tr td:nth-child(2) img {
    height: 20px;
}

.incognito-table-label-row {
    font-weight: 700;
    font-size: 14px;
    opacity: .6;
    line-height: 24px;
    height: 24px;
}

.incognito-table-filter-row {
    height: 36px;
}

.incognito-table .form-control {
    font-weight: normal;
}

.incognito-table-filter {
    font-size: 14px;
    height: 36px;
    font-weight: 400;
}

.incognito-table-filter:focus {
    border-color: unset;
    outline: none;
    box-shadow: none;
}

.incognito-table-filter option {
    font-size: 14px;
    font-weight: normal;
}

.incognito-sub-header-count {
    font-size: 0.80rem;
    color: var(--gray);
}

.incognito-sub-header-detail {
    display: flex;
}

.incognito-sub-header-detail > div:nth-child(1) {
    align-self: center;
}

.incognito-sub-header-detail > button:nth-child(2) {
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--lightBlue);
}

.incognito-sub-header-detail > button:nth-child(2):focus,
.incognito-sub-header-detail > button:nth-child(2):active,
.incognito-sub-header-detail > button:nth-child(2):hover {
    box-shadow: none;
    color: var(--mediumBlue);
}

.incognito-sub-header-detail > button:nth-child(3) {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: var(--lightBlue);
}

.incognito-sub-header-detail > button:nth-child(3):focus,
.incognito-sub-header-detail > button:nth-child(3):active,
.incognito-sub-header-detail > button:nth-child(3):hover {
    box-shadow: none;
    color: var(--mediumBlue);
}

.incognito-sub-header-buttons {
    display: flex;
    align-items: center;
}

.incognito-sub-header-buttons > button {
    margin-left: 10px;
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
}

.incognito-sub-header-buttons > button:active,
.incognito-sub-header-buttons > button:hover,
.incognito-sub-header-buttons > button:focus {
    background-color: var(--mediumBlue);
    border-color: var(--mediumBlue);
    box-shadow: none;
}

.scroll-table-fake-scroll {
    float: right;
    width: 17px;
    position: relative;
    right: 0;
    cursor: default;
    background-color: rgb(241, 241, 241);
}

.scroll-table-fake-scroll-pill {
    position: relative;
    width: 13px;
    left: 2px;
    top: 0;
    transition: background 0.1s;
    background-color: rgb(193, 193, 193);
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
